node_modules/
dist/
build/
*.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.tsbuildinfo
.vscode/
.idea/
*.swp
*.swo
*~
.nyc_output/
lib-cov/
.grunt/
.lock-wscript
.tmp/
.sass-cache/
connect.lock/
typings/
.tscache/
*.pid
*.seed
*.pid.lock
.npm/
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
*.vsix
.history/
.ionide/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
